# main packages
Django==5.1.1
django-debug-toolbar==4.4.6
django-extensions==3.2.3
Faker==28.4.1
requests==2.32.3
Sphinx==8.0.2
sphinx-autobuild==2024.9.3
sphinxcontrib-django==2.5
sphinx-book-theme==1.1.3
sphinxext-opengraph==0.9.1
Werkzeug==3.0.4
# dependencies
accessible-pygments==0.0.5
alabaster==1.0.0
anyio==4.4.0
asgiref==3.8.1
attrs==24.2.0
babel==2.16.0
beautifulsoup4==4.12.3
cattrs==24.1.2
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
docutils==0.21.2
esbonio==0.16.5
h11==0.14.0
idna==3.8
imagesize==1.4.1
Jinja2==3.1.4
lsprotocol==2023.0.1
MarkupSafe==2.1.5
packaging==24.1
platformdirs==4.3.6
pprintpp==0.4.0
pydata-sphinx-theme==0.15.4
pygls==1.3.1
Pygments==2.18.0
pyspellchecker==0.8.1
python-dateutil==2.9.0.post0
six==1.16.0
sniffio==1.3.1
snowballstemmer==2.2.0
soupsieve==2.6
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
sqlparse==0.5.1
starlette==0.40.0
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
uvicorn==0.30.6
watchfiles==0.24.0
websockets==13.0.1