<!DOCTYPE html>
<html>
<head>
    <title>Action {{ id }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <style>
        .table-container {
            max-height: calc(100vh - 200px);
            overflow-y: scroll;
        }
    </style>
</head>
<body class="has-background-light">
<div class="container">
    {% block content %}
    <section class="section">
        <div class="columns is-vcentered">
            <div class="column is-half">
                <h1 class="title">Action</h1>
            </div>
            <div class="column is-half">
                <nav class="breadcrumb is-right" aria-label="breadcrumbs">
                    <ul>
                        <li><a href="../../../">Home</a></li>
                        <li><a href="../">Actions</a></li>
                        <li class="is-active"><a href="#" aria-current="page">{{ id }}</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="columns">
            <div class="column is-half">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">{{ customer.name }}</p>
                    </header>
                    <div class="card-content">
                        <div class="content">
                            <p><strong>ID:</strong> {{ customer.nr }}</p>
                            <p><strong>Saldo:</strong> {{ customer.balance }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column is-half">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">Actions</p>
                        <ion-icon name="refresh-outline" id="refresh" style="float: right; font-size: 200%"></ion-icon>
                    </header>
                    <div class="card-content table-container">
                        <table class="table is-stripted">
                            <thead>
                            <tr>
                                <th>Action ID</th>
                                <th>Customer Number</th>
                                <th>Date</th>
                                <th>Action Type</th>
                                <th>Amount</th>
                                <th>Releated User</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{ id }}</td>
                                <td>{{ nr }}</td>
                                <td>{{ date }}</td>
                                <td>{{ type }}</td>
                                <td>{{ amount }}</td>
                                <td>{{ releated }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
</div>

<script src="{% static 'scripts.js' %}"></script>

<style>
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    .rotate-animation {
        animation: spin 1s linear infinite;
    }
</style>
</body>
</html>
