<!DOCTYPE html>
<html>
<head>
    <title>Customer ({{main.nr}}/{{main.name}})</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <style>
        .table-container {
            max-height: calc(100vh - 200px);
            overflow-y: scroll;
        }
    </style>
</head>
<body class="has-background-light">
<div class="container">
    {% block content %}
    <section class="section">
        <div class="columns is-vcentered">
            <div class="column is-half">
                <h1 class="title">Customers</h1>
            </div>
            <div class="column is-half">
                <nav class="breadcrumb is-right" aria-label="breadcrumbs">
                    <ul>
                        <li><a href="../../../">Home</a></li>
                        <li><a href="../">Customers</a></li>
                        <li class="is-active"><a href="#" aria-current="page">1</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="columns">
            <div class="column is-half">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">{{ main.name }}</p>
                    </header>
                    <div class="card-content">
                        <div class="content">
                            <p><strong>ID:</strong> {{ main.nr }}</p>
                            <p><strong>Saldo:</strong> {{ main.saldo }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column is-half">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">Actions</p>
                        <ion-icon name="refresh-outline" id="refresh" style="float: right; font-size: 200%"></ion-icon>
                    </header>
                    <div class="card-content table-container">
                        <table class="table is-bordered">
                            <thead>
                            <tr>
                                <th>Action ID</th>
                                <th>Customer Number</th>
                                <th>Date</th>
                                <th>Action Type</th>
                                <th>Amount</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if actions %}
                            {% for action in actions %}
                            <tr>
                                <td>{{ action.id }}</td>
                                <td>{{ action.nr }}</td>
                                <td>{{ action.datum }}</td>
                                <td>{{ action.actiontype }}</td>
                                <td>{{ action.betrag }}</td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <td>No Action</td>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
</div>

<script src="{% static 'scripts.js' %}"></script>

<style>
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    .rotate-animation {
        animation: spin 1s linear infinite;
    }
</style>
</body>
</html>
