<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="#">Dashboard</a>
    </div>
    <div class="navbar-end">
        <div id="breadcrumb" class="navbar-item">
            <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                    <li class="is-active">
                        <a href="#">
                            <span class="icon is-small">
                                <i class="fas fa-home" aria-hidden="true"></i>
                            </span>
                            <span>Home</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</nav>


<script src="{% static 'scripts.js' %}"></script>
</body>
</html>
