<!DOCTYPE html>
<html>
  <head>
    <title>StadtBank</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link rel="icon" type="image/ico" href="{% static 'favicon.ico' %}" />
  </head>
  <body>
    <nav
      class="navbar is-primary"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="navbar-brand">
        <a class="navbar-item" href="#"> Dashboard </a>
      </div>
      <div class="navbar-end">
        <div id="breadcrumb" class="navbar-item">
          <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
              <li class="is-active">
                <a href="#">
                  <span class="icon is-small">
                    <i class="fas fa-home" aria-hidden="true"></i>
                  </span>
                  <span>Home</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </nav>

    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-half">
            <div
              class="card"
              style="max-height: calc(100vh - 150px); overflow-y: scroll"
            >
              <header class="card-header">
                <p class="card-header-title">Customer List</p>
                <a href="#" class="card-header-icon" aria-label="refresh">
                  <i class="fas fa-sync"></i>
                </a>
              </header>
              <div
                class="card-content max-h-[calc(100vh-150px)] overflow-y-scroll"
              >
                <div class="table-container">
                  <table class="table-auto">
                    <thead>
                      <tr>
                        <th>Customer Number</th>
                        <th>Name</th>
                        <th>Saldo</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% if customers %} {% for customer in customers %}
                      <tr onclick="customerDetails({{customer.nr}})">
                        <td>{{ customer.nr }}</td>
                        <td>{{ customer.name }}</td>
                        <td>{{ customer.balance }}</td>
                      </tr>
                      {% endfor %} {% else %}
                      <td colspan="3">No Customer</td>
                      {% endif %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <div class="column is-half">
            <div
              class="card"
              style="max-height: calc(100vh - 150px); overflow-y: scroll"
            >
              <header class="card-header">
                <p class="card-header-title">Actions</p>
                <a href="#" class="card-header-icon" aria-label="refresh">
                  <i class="fas fa-sync"></i>
                </a>
              </header>
              <div class="card-content">
                <div class="table-container">
                  <table class="table is-stripted is-fullwidth">
                    <thead>
                      <tr>
                        <th>Action ID</th>
                        <th>Customer Number</th>
                        <th>Date</th>
                        <th>Action Type</th>
                        <th>Amount</th>
                        <th>Releated</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% if actions %} {% for action in actions %}
                      <tr onclick="actionDetails({{action.id}})">
                        <td>{{ action.id }}</td>
                        <td>{{ action.nr }}</td>
                        <td>{{ action.date|date:"j M" }}</td>
                        <td>{{ action.type}}</td>
                        <td>{{ action.amount }}</td>
                        <td>{{ action.related_nr|default:"-" }}</td>
                      </tr>
                      {% endfor %} {% else %}
                      <td colspan="6">No Action</td>
                      {% endif %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script src="{% static 'scripts.js' %}"></script>
  </body>
</html>
