<!DOCTYPE html>
<html>
  <head>
    <title>StadtBank</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link rel="icon" type="image/ico" href="{% static 'favicon.ico' %}" />
  </head>
  <body>
    <nav
      class="navbar is-primary"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="navbar-brand">
        <a class="navbar-item" href="#"> Settings </a>
      </div>
      <div class="navbar-end">
        <div id="breadcrumb" class="navbar-item">
          <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
              <li>
                <a href="..">
                  <span class="icon is-small">
                    <i class="fas fa-home" aria-hidden="true"></i>
                  </span>
                  <span>Home</span>
                </a>
              </li>
              <li class="is-active">
                <a href="#">
                  <span class="icon is-small">
                    <i class="fas fa-gear" aria-hidden="true"></i>
                  </span>
                  <span>Settings</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </nav>

    <div class="container is-max-desktop">
  <div class="tabs is-boxed">
    <ul>
      <li class="is-active"><a>System</a></li>
      <li><a >User</a></li>
    </ul>
  </div>
  <div id="tab-content">
    <div class="tab-content">
      <div class="container">
        <label class="label">Program Settings</label>
        <div class="field">
          <label class="label">IP Address</label>
          <div class="control has-icons-left">
            <input class="input" type="text" placeholder="X.X.X.X"/>
            <span class="icon is-small is-left">
              <i class="fas fa-globe"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-content is-hidden" id="user-tab">Content for User</div>
  </div>
</div>


    <script src="{% static 'scripts.js' %}"></script>
  </body>
</html>
