<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <title>StadtBank</title>
  </head>

  <body class="h-screen">
    <!-- Breadcrumb and Header -->
    <div id="header" class="flex items-center p-4">
      <h1 class="text-3xl font-bold">StadtBank</h1>

      <div id="menuList" class="flex items-start"></div>

      <!-- Breadcrumb -->
      <nav class="ml-auto">
        <ol class="flex list-none">
          <li><a href="/" class="text-blue-200">Home</a></li>
          <li class="mx-2">/</li>
          <li class="text-gray-200">Credit</li>
        </ol>
      </nav>
    </div>
    <script src="{% static 'index.js' %}"></script>
  </body>
</html>
