<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load i18n %} {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <title>StadtBank</title>
  </head>

  <body class="h-screen">
    <!-- Breadcrumb and Header -->
    <div id="header" class="flex items-center p-4">
      <h1 class="text-3xl font-bold">StadtBank</h1>

      <div id="menuList" class="flex items-start"></div>

      <!-- Breadcrumb -->
      <nav class="ml-auto">
        <ol class="flex list-none">
          <li><a href="/" class="text-blue-200">{% trans "home"%}</a></li>
          <li class="mx-2">/</li>
          <li class="text-gray-200">{% trans "credit"%}</li>
        </ol>
      </nav>
    </div>

    <div class="container mx-auto mt-4">
      <h2 class="mb-2 p-1 text-2xl font-bold">{% trans "credit"%}</h2>
    </div>

    {% if user.is_authenticated %}
    <!-- Body -->
    <div class="container mx-auto mt-8 flex">
      <!-- Left Side -->
      <div class="w-1/2 p-4">
        <!-- Name and Amount Inputs -->
        <form method="post" action="{% url 'Bank:credit' %}?next=/credit">
          {% csrf_token %}
          <h3 class="text-2x1 mb-2 p-1 font-bold">...</h3>
          <div class="mb-4">
            <!--
            <input
              type="text"
              id="customer"
              name="customer"
              class="w-3/5 rounded-md border border-gray-300 p-2 focus:border-blue-500 focus:outline-none"
              placeholder="Name/ID"
            />-->
            <select
              required
              name="customer"
              id="customer"
              class="w-2/4 rounded-md border border-gray-300 bg-white p-2 focus:border-blue-500 focus:outline-none"
              onblur=""
            >
              <option selected disabled hidden onchange="filterCustomers()">
                {% trans "selectcustomer"%}
              </option>
              {% for customer in customers %}
              <option value="{{customer.nr}}">
                {{customer.name}} | {{customer.nr}}
              </option>
              {%endfor%}
            </select>
            <!-- TODO: Add Name/User Check on write-->
          </div>
          <div class="mb-4">
            <input
              required
              type="number"
              id="amount"
              name="amount"
              class="w-1/4 rounded-md border border-gray-300 p-2 focus:border-blue-500 focus:outline-none"
              placeholder="{% trans "amount"%}"
            />
          </div>

          <!-- Pay In and Pay Out Buttons -->
          <div class="flex">
            <button
              class="mr-2 rounded-md bg-blue-900 px-4 py-2 text-white focus:border-blue-300 focus:outline-none focus:ring"
              type="submit"
              value="payin"
              name="type"
            >
            {% trans "givecredit"%}
            </button>
          </div>
        </form>
      </div>
      <!-- Actions -->
      <div class="w-full p-4 md:w-1/2 lg:w-1/2 xl:w-1/2">
        <h3 class="mb-2 text-lg font-bold">{% trans "actions"%}</h3>
        <table id="customer-table" class="w-full border bg-white">
          <thead>
            <tr>
              <th class="border p-2">{% trans "id"%}</th>
              <th class="border p-2">{% trans "name"%}</th>
              <!-- Add more table headers as needed -->
            </tr>
          </thead>
          <tbody id="customer-list">
            <!-- Filtered customers will be displayed here -->
          </tbody>
        </table>
      </div>
    </div>
    {% else %}
    <script>
      document.location = "/login?next=/credit";
    </script>
    {% endif %}
    <script>
      var customers = [
          {% for customer in customers %}
              { id: {{ customer.nr }}, name: '{{ customer.name }}' },
          {%endfor%}
      ];

      function filterCustomers() {
          var customerId = document.getElementById('customer-select').value;
          var filteredCustomers = customers.filter(function(customer) {
              return customer.id == customerId;
          });

          displayCustomers(filteredCustomers);
      }

      function displayCustomers(customers) {
          var customerTable = document.getElementById('customer-list');
          customerTable.innerHTML = '';

          customers.forEach(function(customer) {
              var row = customerTable.insertRow();
              var idCell = row.insertCell(0);
              var nameCell = row.insertCell(1);

              idCell.textContent = customer.id;
              nameCell.textContent = customer.name;
          });
      }

      // Initial display when the page loads
      filterCustomers();
    </script>
    <script src="{% static 'index.js' %}"></script>
  </body>
</html>
