<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load i18n %} {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <title>StadtBank</title>
  </head>

  <body class="h-screen">
    <!-- Breadcrumb and Header -->
    <div id="header" class="flex items-center p-4">
      <h1 class="text-3xl font-bold">StadtBank</h1>

      <div id="menuList" class="flex items-start">
        <a href="/" class="pl-3 text-gray-200">{% trans "dashboard" %}</a>
        <a href="../customers" class="pl-3 text-gray-200">{% trans "customers"%}</a>
        <a href="../pay" class="pl-3 text-gray-200">{% trans "pay"%}</a>
        <a href="../creditManagment" class="pl-3 text-gray-200">{% trans "creditManagment"%}</a>
      </div>

      <!-- Breadcrumb -->
      <nav class="ml-auto">
        <ol class="flex list-none">
          <li><a href="/" class="text-blue-200">{% trans "home"%}</a></li>
          <li class="mx-2">/</li>
          <li class="text-gray-200">{% trans "creditManagment"%}</li>
        </ol>
      </nav>
    </div>

    <div class="container mx-auto mt-4">
      <h2 class="mb-2 p-1 text-2xl font-bold">{% trans "creditManagment"%}</h2>
    </div>

    {% if user.is_authenticated %}
    <!-- Body -->
    <div class="container mx-auto mt-8 flex">
      <!-- Left Side -->
      <div class="w-1/2 p-4">
        <!-- Name and Amount Inputs -->
        <form
          method="post"
          action="{% url 'Bank:credit' %}"
          id="Credit"
          autocomplete="off"
        >
          <h3 class="text-2x1 mb-2 p-1 font-bold">...</h3>
          {% csrf_token %}
          <div class="mb-4">
            <!--
            <input
              type="text"
              id="customer"
              name="customer"
              class="w-3/5 rounded-md border border-gray-300 p-2 focus:border-blue-500 focus:outline-none"
              placeholder="Name/ID"
            />-->
            <select
              required
              name="customer"
              id="customer"
              class="w-2/4 rounded-md border border-gray-300 bg-white p-2 focus:border-blue-500 focus:outline-none"
              onblur=""
              onchange="filterCustomers()"
            >
              <option selected disabled hidden>
                {% trans "selectcustomer"%}
              </option>
              {% for customer in customers %}
              <option value="{{customer.nr}}">
                {{customer.name}} | {{customer.nr}}
              </option>
              {%endfor%}
            </select>
            <!-- TODO: Add Name/User Check on write-->
          </div>
          <div class="mb-4">
            <input
              required
              type="number"
              id="amount"
              name="amount"
              min="0"
              class="w-1/4 rounded-md border border-gray-300 p-2 focus:border-blue-500 focus:outline-none"
              placeholder="{% trans 'amount'%}"
            />
          </div>

          <!-- Pay In and Pay Out Buttons -->
          <div class="flex">
            <button
              class="mr-2 rounded-md bg-blue-900 px-4 py-2 text-white focus:border-blue-300 focus:outline-none focus:ring"
              type="button"
              id="givecredit"
            >
              {% trans "givecredit"%}
            </button>
            <button
              class="mr-2 rounded-md bg-indigo-950 px-4 py-2 text-white focus:border-blue-300 focus:outline-none focus:ring"
              type="button"
              id="paycredit"
            >
              {% trans "paycredit"%}
            </button>
          </div>
          <input type="hidden" name="type" id="type" value="" />
        </form>
      </div>
      <!-- Actions -->
      <div class="w-full p-4 md:w-1/2 lg:w-1/2 xl:w-1/2">
        <h3 class="mb-2 text-lg font-bold">{% trans "actions"%}</h3>
        <table id="customer-table" class="w-full border bg-white">
          <thead>
            <tr>
              <th class="border p-2">{% trans "actionID"%}</th>
              <th class="border p-2">{% trans "name"%}</th>
              <th class="border p-2">{% trans "type"%}</th>
              <th class="border p-2">{% trans "amount"%}</th>
            </tr>
          </thead>
          <tbody id="customer-list"></tbody>
        </table>
      </div>
    </div>
    {% else %}
    <script>
      document.location = "/login?next=/creditManagment";
    </script>
    {% endif %}
    <script>
      {% if user.is_authenticated %}
      var actions = [
          {% for action in actions %}
              { id: {{ action.id }},
                customerName: '{{ action.customer.name }}',
                customerID: {{action.customer.nr}},
                type: '{{action.get_type_display}}',
                amount: '{{action.amount}}',
                relatedID: '{{action.related.nr}}',
              },
          {%endfor%}
      ];

      var credits = [
          {% for credit in credits %}
              { id: {{ credit.id }},
                customerName: '{{ credit.customer.name }}',
                customerID: {{credit.customer.nr}},
                amount: '{{credit.amount}}',
                credit: '{{action.date}}',
              },
          {% endfor %}
      ];
      {% endif %}

      function filterCustomers() {
        var customerId = Number(document.getElementById("customer").value);
        var filteredActions = actions.filter(function (action) {
          return (
            action.customerID == customerId || action.relatedID == customerId
          );
        });

        displayActions(filteredActions);
      }

      function displayActions(actions) {
        var customerTable = document.getElementById("customer-list");
        customerTable.innerHTML = "";

        if (actions.length != 0) {
          actions.forEach(function (action) {
            var row = customerTable.insertRow();
            var idCell = row.insertCell(0);
            var nameCell = row.insertCell(1);
            var typeCell = row.insertCell(2);
            var amountCell = row.insertCell(3);

            idCell.classList.add("border");
            nameCell.classList.add("border");
            typeCell.classList.add("border");
            amountCell.classList.add("border");

            idCell.classList.add("p-2");
            nameCell.classList.add("p-2");
            typeCell.classList.add("p-2");
            amountCell.classList.add("p-2");

            idCell.textContent = action.id;
            nameCell.textContent = action.customerName;
            typeCell.textContent = action.type;
            amountCell.textContent = action.amount;
          });
        } else {
          var row = customerTable.insertRow();
          var noAction = row.insertCell();

          noAction.classList.add("border");
          noAction.classList.add("p-2");
          noAction.colSpan = 4;

          noAction.textContent = '{% trans "noactiondata"%}';
        }
      }

      // Initial display when the page loads
      filterCustomers();


      document.getElementById("givecredit").addEventListener("click", function() {
        if (confirm("Yes ?")){

        document.getElementById("type").value = "take-credit"
        document.getElementById("Credit").submit();
        }
      });

      document.getElementById("paycredit").addEventListener("click", function() {
        if (confirm()){

        document.getElementById("type").value = "pay-credit"
        document.getElementById("Credit").submit();
        }
      });
    </script>
    <script src="{% static 'index.js' %}"></script>
  </body>
</html>
