<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load i18n %} {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <title>StadtBank</title>
  </head>

  <body class="h-screen">
    <!-- Breadcrumb and Header -->
    <div id="header" class="flex items-center p-4">
      <h1 class="text-3xl font-bold">StadtBank</h1>

      <div id="menuList" class="flex items-start">
        <a href="/" class="pl-3 text-gray-200">{% trans "dashboard" %}</a>
        <a href="../customers" class="pl-3 text-gray-200">{% trans "customers"%}</a>
        <a href="../pay" class="pl-3 text-gray-200">{% trans "pay"%}</a>
        <a href="../creditManagment" class="pl-3 text-gray-200">{% trans "creditManagment"%}</a>
      </div>

      <!-- Breadcrumb -->
      <nav class="ml-auto">
        <ol class="flex list-none">
          <li><a href="/.." class="text-blue-200">{% trans "home"%}</a></li>
          <li class="mx-2">/</li>
          <li class="text-gray-200">{% trans "customers"%}</li>
        </ol>
      </nav>
    </div>

    <div class="container mx-auto mt-4">
      <h2 class="mb-2 p-1 text-2xl font-bold">{% trans "customers"%}</h2>
    </div>

    <!-- Tables -->
    <div class="container mx-auto mt-4 flex flex-wrap p-4">
      <!-- Customers -->
      <div class="w-1/2 p-4">
        <div class="flex items-center p-3">
          <h3 class="mb-2 w-fit pr-3 text-lg font-bold">
            {% trans "customers"%}
          </h3>
          <input
            type="text"
            class="search-input bg-whites rounded-sm"
            id="customerSearchInput"
            placeholder="{% trans 'search'%}"
          />
        </div>
        <table
          id="customer-table"
          class="w-full table-auto rounded border bg-white"
        >
          <thead>
            <tr>
              <th class="border p-2">{% trans "id"%}</th>
              <th class="border p-2">{% trans "name"%}</th>
              <th class="border p-2">{% trans "balance"%}</th>
            </tr>
          </thead>
          <tbody>
            {% if customers %} {% for customer in customers %}
            <tr onclick="customerDet('{{customer.nr}}');">
              <td class="border p-2">{{customer.nr}}</td>
              <td class="border p-2">{{customer.name}}</td>
              <td class="border p-2">{{customer.balance}}</td>
            </tr>
            {% endfor %} {% else %}
            <tr>
              <td class="border p-2" colspan="3">
                {% trans "nocustomerdata"%}
              </td>
            </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
      <div class="w-1/2 p-4 pt-20">
        {% if user.is_authenticated %} {% if perms.auth.add_user %}
        <form method="post" action="{% url 'Bank:newCustomer' %}">
          {% csrf_token %}
          <h3 class="text-2x1 m-2 p-1 font-bold">{% trans "newcustomer"%}</h3>
          <div class="m-4">
            <input
              type="text"
              id="name"
              name="name"
              class="w-3/5 rounded-md border border-gray-300 p-2 focus:border-blue-500 focus:outline-none"
              placeholder="{% trans 'name'%}"
            />
          </div>
          <div class="m-4">
            <button
              class="rounded-md bg-green-500 px-4 py-2 text-white focus:border-blue-300 focus:outline-none focus:ring"
            >
              {% trans "create"%}
            </button>
          </div>
        </form>
        {% else %}
        <h3 class="text-2x1 m-2 p-1 font-bold">{% trans "newcustomer"%}</h3>
        <p class="m-2 p-1 font-mono text-red-700">{% trans "notAllowed" %}</p>
        {% endif %} {% else %}
        <h3 class="text-2x1 m-2 p-1 font-bold">{% trans "newcustomer"%}</h3>
        <div class="m-4">
          <button
            class="rounded-md bg-green-500 px-4 py-2 text-white focus:border-blue-300 focus:outline-none focus:ring"
            onclick='document.location = "/login?next=/customers";'
          >
            {% trans "login"%}
          </button>
          {% endif %}
        </div>
      </div>
    </div>
    <script src="{% static 'index.js' %}"></script>
  </body>
</html>
