<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load i18n %} {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <title>StadtBank</title>
  </head>

  <body>
    <!-- Breadcrumb and Header -->
    <div id="header" class="flex items-center p-4">
      <h1 class="text-3xl font-bold">StadtBank</h1>

      <div id="menuList" class="flex items-start">
        <a href="/" class="pl-3 text-gray-200">Dashboard</a
        ><a href="../customers" class="pl-3 text-gray-200">Customers</a
        ><a href="../pay" class="pl-3 text-gray-200">Pay</a
        ><a href="../creditManagment" class="pl-3 text-gray-200">Credit</a>
      </div>

      <!-- Breadcrumb -->
      <nav class="ml-auto">
        <ol class="flex list-none">
          <li><a href="/" class="text-blue-200">{% trans "home"%}</a></li>
          <li class="mx-2">/</li>
          <li><a href="./" class="text-blue-200">{% trans "customers"%}</a></li>
          <li class="mx-2">/</li>
          <li class="text-gray-200">{{customer.nr }}</li>
        </ol>
      </nav>
    </div>

    <div class="container mx-auto mt-4">
      <h2 class="mb-2 p-1 text-2xl font-bold">{% trans "dashboard"%}</h2>
    </div>

    <div class="container mx-auto mt-4 flex h-screen flex-wrap">
      <!-- Customer -->
      <div class="w-full p-4 md:w-1/2 lg:w-1/2 xl:w-1/2">
        <h3 class="mb-2 text-lg font-bold">{{customer.name}}</h3>
        <!--Customer Infos-->
        <h4 class="mb-2 text-lg font-bold">
          {% trans "balance"%}: {{customer.balance}}
        </h4>
        <h4 class="mb-2 text-lg font-bold">
          {% trans "Credit"%}: {{customer.credits}}
        </h4>
      </div>

      <!-- Actions -->
      <div class="w-full p-4 md:w-1/2 lg:w-1/2 xl:w-1/2">
        <h3 class="mb-2 text-lg font-bold">{% trans "Actions"%}</h3>
        <table class="w-full border bg-white">
          <thead>
            <tr>
              <th class="border p-2">{% trans "id"%}</th>
              <th class="border p-2">{% trans "amount"%}</th>
              <th class="border p-2">{% trans "type"%}</th>
              <th class="border p-2">{% trans "releated"%}</th>
              <th class="border p-2">{% trans "date"%}</th>
            </tr>
          </thead>
          <tbody>
            {% if actions %} {% for action in actions %}
            <tr class="">
              <td class="border p-2">{{action.id}}</td>
              <td class="border p-2">{{action.amount}}</td>
              <td class="border p-2">{{action.get_type_display}}</td>
              <td
                class="relatie group border p-2"
                {% if action.related %}
                onclick="customerDet('{{action.related.nr}}');"
                {% endif %}
              >
                {% if action.related %}
                {{action.related.name|default_if_none:""}}
                <p
                  class="p4 hidden opacity-0 transition-opacity group-hover:block group-hover:opacity-100"
                >
                  {{action.related.nr}}
                </p>
                {% endif %}
              </td>
              <!-- TODO: Hover ID-->
              <td class="border p-2">{{action.date}}</td>
            </tr>
            {% endfor %} {% else %}
            <td class="border p-2" colspan="5">{% trans "noactiondata"%}</td>
            <!-- TODO: Make it for both Rows -->
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>

    <script src="{% static 'index.js' %}"></script>
  </body>
</html>
