<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load i18n %} {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <title>StadtBank</title>
  </head>

  <body class="w-screen">
    <!-- Breadcrumb and Header -->
    <div id="header" class="flex w-full items-center p-4">
      <h1 class="text-3xl font-bold">StadtBank</h1>

      <div id="menuList" class="flex items-start">
        <a href="/" class="pl-3 text-gray-200">Dashboard</a
        ><a href="../customers" class="pl-3 text-gray-200">Customers</a
        ><a href="../pay" class="pl-3 text-gray-200">Pay</a
        ><a href="../creditManagment" class="pl-3 text-gray-200">Credit</a>
      </div>

      <nav class="ml-auto">
        <ol class="flex list-none">
          <li>
            <a href="" class="pl-1 text-end text-sm text-gray-200">
              {% trans "home" %}
            </a>
          </li>
        </ol>
      </nav>
    </div>
    <div class="container mx-auto mt-4">
      <h2 class="mb-2 p-1 text-2xl font-bold">{% trans "dashboard" %}</h2>
    </div>
    <div class="container mx-auto mt-4 flex flex-wrap p-4">
      <!-- Customers -->
      <div class="w-full p-4 md:w-1/2 lg:w-1/2 xl:w-1/2">
        <div class="flex items-center p-3">
          <h3 class="mb-2 w-fit pr-3 text-lg font-bold">
            {% trans "customers" %}
          </h3>
          <input
            type="text"
            class="search-input bg-whites rounded-sm"
            id="customerSearchInput"
            placeholder="{% trans 'search'%}"
          />
        </div>
        <table
          id="customer-table"
          class="w-full table-auto rounded border bg-white"
        >
          <thead>
            <tr>
              <th class="border p-2">{% trans "id"%}</th>
              <th class="border p-2">{% trans "name"%}</th>
              <th class="border p-2">{% trans "balance"%}</th>
            </tr>
          </thead>
          <tbody>
            {% if customers %} {% for customer in customers %}
            <tr onclick="customerDet('{{customer.nr}}');">
              <td class="border p-2">{{customer.nr}}</td>
              <td class="border p-2">{{customer.name}}</td>
              <td class="border p-2">{{customer.balance}}</td>
            </tr>
            {% endfor %} {% else %}
            <tr>
              <td class="border p-2" colspan="3">
                {% trans "nocustomerdata"%}
              </td>
            </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
      <!-- Actions -->
      <div class="w-full p-4 md:w-1/2 lg:w-1/2 xl:w-1/2">
        <h3 class="mb-2 p-3 text-lg font-bold">{% trans "actions"%}</h3>
        <table
          id="actions-table"
          class="w-full table-auto rounded border bg-white"
        >
          <thead>
            <tr>
              <th class="border p-2">{% trans "actionID" %}</th>
              <th class="border p-2">{% trans "customer" %}</th>
              <th class="border p-2">{% trans "amount" %}</th>
              <th class="border p-2">{% trans "type" %}</th>
              <th class="border p-2">{% trans "releated" %}</th>
              <th class="border p-2">{% trans "date" %}</th>
            </tr>
          </thead>
          <tbody>
            {% if actions %} {% for action in actions %}
            <tr>
              <td class="border p-2">{{action.id}}</td>
              <td
                class="group relative border p-2"
                onclick="customerDet('{{action.customer.nr}}');"
              >
                {{action.customer.name}}
                <p
                  class="p4 hidden opacity-0 transition-opacity group-hover:block group-hover:opacity-100"
                >
                  {{action.customer.nr}}
                </p>
              </td>
              <td class="border p-2">{{action.amount}}</td>
              <td class="border p-2">{{action.get_type_display }}</td>
              <td
                class="relatie group border p-2"
                {% if action.related.nr %}
                onclick="customerDet('{{action.related.nr}}');"
                {% endif %}
              >
                {% if action.related %}{{action.related.name | default:""}}
                <p
                  class="p4 hidden opacity-0 transition-opacity group-hover:block group-hover:opacity-100"
                >
                  {{action.related.nr}}
                </p>
                {% endif %}
              </td>
              <td class="border p-2">{{action.date| date:"l (j.m)"}}</td>
            </tr>
            {% endfor %} {% else %}
            <tr>
              <td class="border p-2" colspan="6">{% trans "noactiondata"%}</td>
            </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
    <script src="{% static 'index.js' %}"></script>
  </body>
</html>
