<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <title>StadtBank</title>
  </head>

  <body class="h-screen">
    <!-- Breadcrumb and Header -->
    <div id="header" class="flex items-center p-4">
      <h1 class="text-3xl font-bold">StadtBank</h1>

      <div id="menuList" class="flex items-start"></div>

      <!-- Breadcrumb -->
      <nav class="ml-auto">
        <ol class="flex list-none">
          <li>
            <a href="" class="pl-1 text-end text-sm text-gray-200">Home</a>
          </li>
          <!-- Add more breadcrumb items as needed -->
        </ol>
      </nav>
    </div>

    <div class="container mx-auto mt-4">
      <h2 class="mb-2 p-1 text-2xl font-bold">Dashboard</h2>
    </div>

    <!-- Tables -->
    <div class="container mx-auto mt-4 flex flex-wrap p-4">
      <!-- Customers -->
      <div class="w-full p-4 md:w-1/2 lg:w-1/2 xl:w-1/2">
        <div class="flex items-center p-3">
          <h3 class="mb-2 w-fit pr-3 text-lg font-bold">Customers</h3>
          <input
            type="text"
            class="search-input bg-whites rounded-sm"
            id="customerSearchInput"
            placeholder="Search"
          />
        </div>
        <table
          id="customer-table"
          class="w-full table-auto rounded border bg-white"
        >
          <thead>
            <tr>
              <th class="border p-2">ID</th>
              <th class="border p-2">Name</th>
              <th class="border p-2">Balance</th>
            </tr>
          </thead>
          <tbody>
            {% if customers %} {% for customer in customers %}
            <tr onclick="customerDet('{{customer.nr}}');">
              <td class="border p-2">{{customer.nr}}</td>
              <td class="border p-2">{{customer.name}}</td>
              <td class="border p-2">{{customer.balance}}</td>
            </tr>
            {% endfor %} {% else %}
            <tr>
              <td class="border p-2" colspan="3">
                No Customer Data available.
              </td>
            </tr>
            {% endif %}
          </tbody>
        </table>
      </div>

      <!-- Actions -->
      <div class="w-full p-4 md:w-1/2 lg:w-1/2 xl:w-1/2">
        <h3 class="mb-2 p-3 text-lg font-bold">Actions</h3>
        <table
          id="actions-table"
          class="w-full table-auto rounded border bg-white"
        >
          <thead>
            <tr>
              <th class="border p-2">ID</th>
              <th class="border p-2">Customer</th>
              <th class="border p-2">Amount</th>
              <th class="border p-2">Type</th>
              <th class="border p-2">Before</th>
              <th class="border p-2">Related</th>
              <th class="border p-2">Date</th>
            </tr>
          </thead>
          <tbody>
            <!-- Set the height as needed -->
            {% if actions %} {% for action in actions %}
            <tr>
              <td class="border p-2">{{action.id}}</td>
              <td
                class="group relative border p-2"
                onclick="customerDet('{{action.customer.nr}}');"
              >
                <!-- TODO: Make it better-->
                {{action.customer.name}}
                <p
                  class="p4 hidden bg-gray-200 opacity-0 transition-opacity group-hover:block group-hover:opacity-100"
                >
                  {{action.customer.nr}}
                </p>
              </td>
              <td class="border p-2">{{action.amount}}</td>
              <td class="border p-2">{{action.get_type_display }}</td>
              <td class="border p-2">
                {{action.before | default_if_none:"-"}}
              </td>
              <td
                class="relatie group border p-2"{% if action.related.nr %}
                onclick="customerDet('{{action.related.nr}}');"
                {% endif %}
              >
                {% if action.related %} {{action.related.name | default:""}}
                <p
                  class="p4 hidden bg-gray-200 opacity-0 transition-opacity group-hover:block group-hover:opacity-100"
                >
                  {{action.related.nr }}
                </p>
                {% endif %}
              </td>
              <!-- TODO: Hover ID-->
              <td class="border p-2">{{action.date| date:"l (j.m)"}}</td>
            </tr>
            {% endfor %} {% else %}
            <tr>
              <td class="border p-2" colspan="7">No Action Data available.</td>
            </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
    <script src="{% static 'index.js' %}"></script>
  </body>
</html>
