<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load i18n %} {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <title>Stadt Bank</title>
  </head>

  <body class="h-screen">
    <!-- Breadcrumb and Header -->
    <div id="header" class="flex items-center p-4">
      <h1 class="text-3xl font-bold">StadtBank</h1>

      <div id="menuList" class="flex items-start">
        <a href="/" class="pl-3 text-gray-200">{% trans "dashboard" %}</a>
        <a href="../customers" class="pl-3 text-gray-200">{% trans "customers"%}</a>
        <a href="../pay" class="pl-3 text-gray-200">{% trans "pay"%}</a>
        <a href="../creditManagment" class="pl-3 text-gray-200">{% trans "creditManagment"%}</a>
      </div>

      <!-- Breadcrumb -->
      <nav class="ml-auto">
        <ol class="flex list-none">
          <li><a href="/" class="text-blue-200">{% trans "home"%}</a></li>
          <li class="mx-2">/</li>
          <li class="text-gray-200">{% trans "pay"%}</li>
        </ol>
      </nav>
    </div>

    <div class="container mx-auto mt-4">
      <h2 class="mb-2 p-1 text-2xl font-bold">{% trans "action"%}</h2>
    </div>

    {% if user.is_authenticated %}
    <!-- Body -->
    <div class="container mx-auto mt-8 flex">
      <!-- Left Side -->

      <div class="w-1/2 p-4">
        <!-- Name and Amount Inputs -->
        <form
          method="post"
          action="{% url 'Bank:pay' %}"
          id="Pay"
          autocomplete="off"
        >
          {% csrf_token %}
          <h3 class="text-2x1 mb-2 p-1 font-bold">{% trans "pay"%}</h3>
          <div class="mb-4">
            <!--
            <input
              type="text"
              id="customer"
              name="customer"
              class="w-3/5 rounded-md border border-gray-300 p-2 focus:border-blue-500 focus:outline-none"
              placeholder="Name/ID"
            />-->
            <select
              required
              name="customer"
              id="customer"
              class="w-2/4 rounded-md border border-gray-300 bg-white p-2 focus:border-blue-500 focus:outline-none"
            >
              <option selected disabled hidden>
                {% trans "selectcustomer"%}
              </option>
              {% for customer in customers %}
              <option value="{{customer.nr}}">
                {{customer.name}} | {{customer.nr}}
              </option>
              {%endfor%}
            </select>
            <!-- TODO: Add Name/User Check on write-->
          </div>
          <div class="mb-4">
            <input
              required
              type="number"
              id="payAmount"
              name="payAmount"
              class="w-1/4 min-w-5 rounded-md border border-gray-300 p-2 focus:border-blue-500 focus:outline-none"
              placeholder="{% trans 'amount'%}"
              min="1"
            />
            <input type="checkbox" id="isSalary" name="isSalary" />
            <label for="isSalary">{% trans "isSalary" %}</label>
            <input type="hidden" id="payType" name="payType" value="" />
          </div>

          <!-- Pay In and Pay Out Buttons -->
          <div class="flex">
            <button
              class="mr-2 rounded-md bg-green-500 px-4 py-2 text-white focus:border-blue-300 focus:outline-none focus:ring"
              type="button"
              id="payin"
            >
              {% trans "payin"%}
            </button>

            <button
              class="rounded-md bg-red-500 px-4 py-2 text-white focus:border-blue-300 focus:outline-none focus:ring"
              type="button"
              id="payout"
            >
              {% trans "payout"%}
            </button>
          </div>
        </form>
      </div>

      <!-- Right Side -->
      <div class="w-1/2 p-4">
        <!-- Two Name Inputs and Amount Input -->
        <form
          method="post"
          action="{% url 'Bank:transfer' %}"
          autocomplete="off"
          id="Transfer"
        >
          {% csrf_token %}
          <h3 class="text-2x1 mb-2 p-1 font-bold">{% trans "transfer"%}</h3>

          <div class="mb-4">
            <!--
            <input
              type="text"
              id="nr"
              name="nr"
              class="w-3/5 rounded-md border border-gray-300 p-2 focus:border-blue-500 focus:outline-none"
              placeholder="From"
            />
            -->
            <select
              required
              name="nr"
              id="nr"
              class="w-2/4 rounded-md border border-gray-300 bg-white p-2 focus:border-blue-500 focus:outline-none"
            >
              <option value="" selected disabled hidden>
                {% trans "selectcustomer"%}
              </option>
              {% for customer in customers%}
              <option value="{{customer.nr}}">
                {{customer.name}} | {{customer.nr}}
              </option>
              {%endfor%}
            </select>
          </div>
          <div class="mb-4">
            <!--
            <input
              type="text"
              id="related"
              name="related"
              class="w-3/5 rounded-md border border-gray-300 p-2 focus:border-blue-500 focus:outline-none"
              placeholder="To"
            />
            -->
            <select
              required
              name="related"
              id="related"
              class="w-2/4 rounded-md border border-gray-300 bg-white p-2 focus:border-blue-500 focus:outline-none"
            >
              <option value="" selected disabled hidden>
                {% trans "selectcustomer"%}
              </option>
              {% for customer in customers%}
              <option value="{{customer.nr}}">
                {{customer.name}} | {{customer.nr}}
              </option>
              {%endfor%}
            </select>
          </div>
          <div class="mb-4">
            <input
              required
              type="number"
              id="transferAmount"
              name="amount"
              class="w-1/4 rounded-md border border-gray-300 p-2 focus:border-blue-500 focus:outline-none"
              min="1"
              placeholder="{% trans 'amount'%}"
            />
          </div>

          <!-- Transfer Button -->
          <button
            class="rounded-md bg-blue-500 px-4 py-2 text-white focus:border-blue-300 focus:outline-none focus:ring"
            type="button"
            id="transfer"
          >
            {% trans "transfer"%}
          </button>
          <input type="hidden" name="type" value="transfer" />
        </form>
      </div>
    </div>
    {% else %}
    <script>
      document.location = "/login?next=/pay";
    </script>
    {% endif %}
    <script>
          {% if user.is_authenticated %}
      var customers = [
          {% for customer in customers %}{nr:{{ customer.nr }},balance:{{customer.balance}}},{%endfor%}
      ];
      {% endif %}
      /*
      const checkbox = document.getElementById("isSalary");
      const output = document.getElementById("amount");
      if (checkbox.checked) {
        output.placeholder = '{% trans "hour" %}';
      } else {
        output.placeholder = '{% trans "amount" %}';
      }

      checkbox.addEventListener("change", function () {
        if (checkbox.checked) {
          output.placeholder = '{% trans "hour" %}';
        } else {
          output.placeholder = '{% trans "amount" %}';
        }
      });
      */

      const checkbox = document.getElementById("isSalary");
      const amount = document.getElementById("payAmount");
      checkbox.addEventListener("change", function () {
        if (checkbox.checked) {
          amount.type = "text";
        } else {
          amount.type = "number";
        }
      });


      const customer = document.getElementById("customer");

      document.getElementById("payin").addEventListener("click", function() {
        if (confirm()){
        document.getElementById("payType").value = "payin";
        document.getElementById("Pay").submit();
        }
      });

      document.getElementById("payout").addEventListener("click", function() {
        amount.type = "number";
        if (parseInt(document.getElementById("payAmount").value) <= parseInt(customers.filter(d => d.nr === parseInt(customer.value))[0]["balance"])) {
          if (confirm()){
          document.getElementById("payType").value = "payout";
          document.getElementById("Pay").submit();
        }
        } else {
          alert("{% trans 'notEnoughtMoney'%}");
        }
      });

      const nr = document.getElementById("nr");
      document.getElementById("transfer").addEventListener("click", function() {
        if (parseInt(document.getElementById("transferAmount").value) <= parseInt(customers.filter(d => d.nr === parseInt(nr.value))[0]["balance"])) {
          if (confirm()){
          document.getElementById("Transfer").submit();
          }
        } else {
          alert("{% trans 'notEnoughtMoney'%}");
        }
      });
    </script>
    <script src="{% static 'index.js' %}"></script>
  </body>
</html>
