<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <title>Stadt Bank</title>
  </head>

  <body class="h-screen">
    <!-- Breadcrumb and Header -->
    <div id="header" class="flex items-center p-4">
      <h1 class="text-3xl font-bold">StadtBank</h1>

      <div id="menuList" class="flex items-start"></div>

      <!-- Breadcrumb -->
      <nav class="ml-auto">
        <ol class="flex list-none">
          <li><a href="/" class="text-blue-200">Home</a></li>
          <li class="mx-2">/</li>
          <li class="text-gray-200">Pay</li>
        </ol>
      </nav>
    </div>

    <div class="container mx-auto mt-4">
      <h2 class="mb-2 p-1 text-2xl font-bold">Action</h2>
    </div>

    {% if user.is_authenticated %}
    <!-- Body -->
    <div class="container mx-auto mt-8 flex">
      <!-- Left Side -->
      <div class="w-1/2 p-4">
        <!-- Name and Amount Inputs -->
        <form method="post" action="{% url 'Bank:pay' %}">
          {% csrf_token %}
          <h3 class="text-2x1 mb-2 p-1 font-bold">Pay</h3>
          <div class="mb-4">
            <!--
            <input
              type="text"
              id="customer"
              name="customer"
              class="w-3/5 rounded-md border border-gray-300 p-2 focus:border-blue-500 focus:outline-none"
              placeholder="Name/ID"
            />-->
            <select
              required
              name="customer"
              id="customer"
              class="w-2/4 rounded-md border border-gray-300 bg-white p-2 focus:border-blue-500 focus:outline-none"
            >
              <option selected disabled hidden>Select Customer</option>
              {% for customer in customers %}
              <option value="{{customer.nr}}">
                {{customer.name}} | {{customer.nr}}
              </option>
              {%endfor%}
            </select>
            <!-- TODO: Add Name/User Check on write-->
          </div>
          <div class="mb-4">
            <input
              required
              type="number"
              id="amount"
              name="amount"
              class="w-1/4 rounded-md border border-gray-300 p-2 focus:border-blue-500 focus:outline-none"
              placeholder="Amount"
            />
          </div>

          <!-- Pay In and Pay Out Buttons -->
          <div class="flex">
            <button
              class="mr-2 rounded-md bg-green-500 px-4 py-2 text-white focus:border-blue-300 focus:outline-none focus:ring"
              type="submit"
              value="payin"
              name="type"
            >
              Pay In
            </button>

            <button
              class="rounded-md bg-red-500 px-4 py-2 text-white focus:border-blue-300 focus:outline-none focus:ring"
              type="submit"
              value="payout"
              name="type"
            >
              Pay Out
            </button>
          </div>
        </form>
      </div>

      <!-- Right Side -->
      <div class="w-1/2 p-4">
        <!-- Two Name Inputs and Amount Input -->
        <form method="post" action="{% url 'Bank:transfer' %}">
          {% csrf_token %}
          <h3 class="text-2x1 mb-2 p-1 font-bold">Transfer</h3>

          <div class="mb-4">
            <!--
            <input
              type="text"
              id="nr"
              name="nr"
              class="w-3/5 rounded-md border border-gray-300 p-2 focus:border-blue-500 focus:outline-none"
              placeholder="From"
            />
            -->
            <select
              required
              name="nr"
              id="nr"
              class="w-2/4 rounded-md border border-gray-300 bg-white p-2 focus:border-blue-500 focus:outline-none"
            >
              <option value="" selected disabled hidden>Select Customer</option>
              {% for customer in customers%}
              <option value="{{customer.nr}}">
                {{customer.name}} | {{customer.nr}}
              </option>
              {%endfor%}
            </select>
          </div>
          <div class="mb-4">
            <!--
            <input
              type="text"
              id="related"
              name="related"
              class="w-3/5 rounded-md border border-gray-300 p-2 focus:border-blue-500 focus:outline-none"
              placeholder="To"
            />
            -->
            <select
              required
              name="related"
              id="related"
              class="w-2/4 rounded-md border border-gray-300 bg-white p-2 focus:border-blue-500 focus:outline-none"
            >
              <option value="" selected disabled hidden>Select Customer</option>
              {% for customer in customers%}
              <option value="{{customer.nr}}">
                {{customer.name}} | {{customer.nr}}
              </option>
              {%endfor%}
            </select>
          </div>
          <div class="mb-4">
            <input
              required
              type="text"
              id="amount"
              name="amount"
              class="w-1/4 rounded-md border border-gray-300 p-2 focus:border-blue-500 focus:outline-none"
              placeholder="Amount"
            />
          </div>

          <!-- Transfer Button -->
          <button
            class="rounded-md bg-blue-500 px-4 py-2 text-white focus:border-blue-300 focus:outline-none focus:ring"
          >
            Transfer
          </button>
          <input type="hidden" name="type" value="transfer" />
        </form>
      </div>
    </div>
    {% else %}
    <script>
      document.location = "/login";
    </script>
    {% endif %}
    <script src="{% static 'index.js' %}"></script>
  </body>
</html>
